{% extends 'activities/base.html' %}
{% load static %}
{% block head %}
    <title>Home - from home.html</title>
    <link rel="stylesheet" href="{% static 'css/activities.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
      <th scope="col">Date</th>
      <th scope="col">Creator</th>

    </tr>
  </thead>
  <tbody>
    {% for post in posts%}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><p class="lead">{{post.title}}</p></td>
      <td><p class="lead">{{post.text}}</p></td>
      <td><p class="lead">{{post.posted}}</p></td>
      <td><p class="lead">{{post.made_by}}</p></td>
    </tr>
    {% endfor %}
 
  </tbody>
</table>


{% endblock %}